@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inria Sans";
    font-weight: 400;
}
body {
    background-color: #32373c;
}

header {
    background-color: #212529;
    padding: 20px;
    width: 100%;

    top: 0;
    position: fixed;
}
.container {
    width: 1280px;
    margin: 0 auto;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    list-style: none;
}
.menu ul li {
    display: inline;
}
.menu ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

    padding: 10px 20px;

    transition: all .2s ease-in-out;
}
.menu ul li a:hover {
    color: #ffffff87;
}

.logo-header {
    width: 50px;
}
.main {
    margin: 120px 0 0 0;
    color: #fff;

}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #212529;

    width: 50%;
    height: 45rem;
    float: left;

    border-radius: 90px 0 0 20px;
}
.left h1 {
    margin-bottom: 15px;
    font-size: 30px;
}
.left p {
    width: 550px;
}
.left a {
    color: #62b1ff;
    text-decoration: none;
    transition: all .2s ease-in-out;
}
.left a:hover {
    color: #2282e2;
}
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 45rem;
    float: right;
    padding: 0 30px;

    background-color: #2a2f33;

    border-radius: 0 20px 90px 0;
}
.img-left {
    width: 600px;
    margin-top: 100px;
}